<section>
  {{ "section-product-banner.css" | asset_url | stylesheet_tag }}

  <div class="banner-bg">
    <div class="container">
      <div class="banner-inner">
        <div class="banner-content">
          <h1 class="product-headline"><span>Get a</span> Dentist-Approved Smile <span>from the</span> Comfort of Your Home!</h1>
          <div class="product-subtitle">The all new premium  Ultrasonic Tooth Cleanser functions by using advanced vibration technology to deeply cleanse your teeth, removing any plaque, stains, or tartar from your teeth in minutes, the only teeth cleaner to do so.</div>
          <div class="b-get-btn">
            <button type="" name="" class="get-btn">
              <span>GET YOURS NOW</span>
            </button>
          </div>
        </div>
        <div class="banner-video">
            <video autoplay loop muted webkit-playsinline playsinline class="" width="480" height="auto"><source src="{{ product.metafields.custom.video1 | file_url  }}" type="video/mp4"></video>
        </div>
        
    </div>
  </div>
</section>